<section class = 'blog-post card'>
    <a href = '/blogposts/{{id}}' >
        <h2 class = 'blog-title card-title'>{{plainPost.title}}</h2>
    </a>
    <p class = 'blog-text card-text'>{{plainPost.text_content}}</p>
    <p class= 'date'> Created on:{{plainPost.post_date}} by: {{user.username}}</p>
    <div class = 'comments'> Comments:
    {{#each plainPost.comments }}
    <p class = 'blog-comment'>{{text_content}} posted by {{user.username}} at {{date_created}}</p>
    {{/each}}
    </div>
    <div class = "submit-comment">
        <form  class = "comment-form" data-postId= {{id}}>
            <textarea name="comments" id="blog-comment-{{id}}" cols="30" rows="5" placeholder =" Enter New Comment" ></textarea>
        </form>
        <button id ="comment-btn-{{id}}" class = "btn btn-secondary " >Add Comment</button>
    </div>
</section>
